[user]
	name = Denver Hoggatt
    email = djhoggatt@gmail.com
[core]
	editor = nvim
[diff]
    tool = nvimdiff
[merge]
	tool = nvimdiff
[help]
	autocorrect = 20
[submodule]
	recurse = false
[alias]
	cleanup = !git-tools cleanup
	pup = !git restore . && git pull && git submodule init && git submodule update && git submodule status && git status
	graph = !git-tools graph
	localdiff = !git-tools localdiff
	filelog = !git-tools filelog
[difftool "vscode"]
	cmd = code --wait --reuse-window --diff "$LOCAL" "$REMOTE"
